html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	background-image: url('/img/background.svg');
	position: relative;
	background-position: center;
	background-size: cover;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: "Open Sans" sans-serif;
	font-weight: 100;
}

a {
	color: rgba(236, 236, 236, 0.99);
	text-decoration: none;
	font-size: 14px;
	padding: 5px;
}

a:hover {
	color: rgba(236, 236, 236, 0.99);
}

input.error {
	border-color: rgba(236, 82, 82, 0.8);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 82, 82, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 82, 82, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 82, 82, 0.6);
}

#main-wrapper {
	position: absolute;
	width: auto;
	left: 20px;
	top: 20px;
	bottom: 20px;
	right: 20px;
	overflow: hidden;
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
	background-color: rgba(0,0,0,0.1);
}

#main-wrapper.in-progress {
	background-image: url('/img/preloader.svg');
	background-position: center center;
	background-repeat: no-repeat;
}

#main-wrapper.in-progress #lastfm_name,
#main-wrapper.graph #lastfm_name {
	display: none;
}

#main-wrapper.graph #canvas {
	display: block;
}

#back {
	display: none;
	position: absolute;
	z-index: 100;
}
#main-wrapper.graph #back {
	display: inline-block;
}

#canvas {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
}

input {
	position: absolute;
	height: 40px;
	line-height: 40px;
	width: 40%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	font-size: 14px;
	padding-left: 6px;
	opacity: .9;
	text-align: center;
}
#lastfm_name:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	opacity: 1;
}

text {
  pointer-events: none;
  font: 12px "Open Sans" sans-serif;
}

.artist circle,
.movie circle,
.user {
   stroke-width: 2px;
}


.artist circle {
	fill: #2196F3;
	stroke: rgba(5, 100, 158, 0.73);
}

.movie circle {

  	cursor: pointer;
	fill: #FF5722;
	stroke: rgba(163, 0, 0, 0.73);
}

.user circle {
	stroke: rgba(1, 121, 109, 0.67);
}

.user text {
	display: none;
}

[active=true] text {
	font-size: 14px;
}

.user[active=false] {
	opacity: 1;
}
[active=false] {
	opacity: 0.3;
	stroke-opacity: .3;
}
[active=false] text{
	display: none;
}

.link {
  fill: none;
  stroke: #7E8081;
  stroke-width: 1px;
}

#info {
	position: absolute;
	top: 0;
	bottom: 0;
	display: none;
	max-width: 200px;
	right: 0;
	color: rgba(255,255,255,.8);
	background-color: rgba(0,0,0,0.3);
	padding: 10px;
}

#info label {
	font-weight: bold;
	margin-right: 5px;
	display: inline-block; 
}
#info div {
	margin-bottom: 10px;
} 